.logo-img
{
    height:60px;
    background-size:cover;
}
.logo
{
    background-color:#000000 !important;
    height:60px;
}
.list
{
    list-style-type:none;
}
ul li
{
    margin:20px;
    font-size:20px;
    color:white ;
    cursor:pointer;
}
h1{
     margin:0px;
}
.item-image
{
    height:350px;
    cursor: pointer;
}
.button
{
    color:#000000;
    background-color:#FFCE12;
    border-style:none;
    border-radius:15px;
    width:120px;
    height:40px;
    font-weight:bold;
    transition:background-color 0.3s ease-in-out;
}
.button:hover{
    background-color:red;
}

.limited-button
{
    background-color:#CC0C39;
    border-style:none;
    border-radius:5px;
    color:white;
    height:30px;
    width:170px;
}
.custom-list a
{
    color:white !important;
}
.custom-list
{
    margin-left:auto !important;
}
.card
{
    border-radius:15px;
    transition: transform 0.3s ease-in-out;
}
.card:hover{
    transform: scale(1.1);
}
